@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

section {
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.joinBtn, .taskLink {
    display: inline-block;
    color: white;
    background-color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.joinBtn:hover, .taskLink:hover {
    background-color: #555;
}

.sec-authorize {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}