@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    color: #333; 
    background-color: #ffffff; 
}

header {
    background-color: #ffffff; 
    padding: 10px;
    text-align: center;
}

header .logo {
    text-decoration: none;
    color: #333; 
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

header .logo:hover {
    color: #ff8080; 
}
