<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taskMapper">

	<!-- 할 일 조회 -->
	<select id="selectTaskList"
		resultType="com.jy.todolist.task.model.vo.Task" parameterType="_int">
		SELECT t.*, c.category_name
		FROM `tasks` t
		LEFT JOIN `categories` c ON t.category_no = c.category_no
		<where>
			t.user_no = #{user_no}
		</where>
	</select>
	<!-- 할 일 갯수 조회 -->
	<select id="selectTaskCount" resultType="int" parameterType="_int">
	SELECT COUNT(*)
	FROM `tasks`
	<where>
		<if test="user_no != null">
			user_no = #{user_no}
		</if>
		<if test="status != null">
			AND status = 2
		</if>
	</where>
	</select>
	<!-- 완료 할 일 갯수 조회 -->
	<select id="selectTaskEndCount" resultType="int" parameterType="_int">
		SELECT COUNT(*)
		FROM `tasks`
		<where>
			<if test="user_no != null">
				user_no = #{user_no}
			</if>
			<if test="status != null">
				AND status = 3
			</if>
		</where>
	</select>
	<!-- 할일 추가 -->
	<insert id="taskAdd" parameterType="com.jy.todolist.task.model.vo.Task">
		INSERT INTO `tasks` (user_no, category_no, task_title, start_date, end_date)
		VALUES
		(#{user_no},#{category_no},#{task_title},#{start_date},#{end_date})
	</insert>
	<!-- 할 일 삭제 -->
	<delete id ="deleteTask" parameterType="_int">
		DELETE FROM `tasks`
		<where>
			task_no = #{task_no}
		</where>
	</delete>
	<!-- 할 일 상세 조회 -->
	<select id="selectTaskDetail" resultType="com.jy.todolist.task.model.vo.Task" parameterType="_int">
	 	SELECT *
	 	FROM `tasks`
	 	<where>
	 		task_no = #{task_no}
	 	</where> 
	</select>
	<!-- 할 일 수정 -->
	<update id="taskUpdate" parameterType="com.jy.todolist.task.model.vo.Task">
		UPDATE `tasks`
		SET task_title = #{task_title},start_date = #{start_date},end_date=#{end_date},category_no= #{category_no}
		<where>
		task_no = #{task_no}
		</where>
	</update>
	
	<update id="updateTasksStatusForTomorrow">
      UPDATE `tasks`
    SET status = 2
    WHERE DATE(STR_TO_DATE(start_date, '%Y-%m-%dT%H:%i:%s')) = CURRENT_DATE
    AND TIME(STR_TO_DATE(start_date, '%Y-%m-%dT%H:%i:%s')) = TIME(NOW())
    AND status = 1
</update>
</mapper>