@charset "UTF-8";

.signup-section {
	display: flex;
    padding: 0px 20px;
    background-color: #ffffff; 
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px; 
    width: 100%; 
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; 
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333; 
    border-radius: 4px; 
    background-color: #ffffff; 
    color: #333; 
}

.submit-btn {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.submit-btn:hover {
    background-color: #333333; 
}
